<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moreakshay.com.mine">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name=".MineApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_line"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_line"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="moreakshay.com.mine.ui.features.intro.MainActivity">
        </activity>
        <activity android:name="moreakshay.com.mine.ui.features.intro.IntroductionActivity" />
        <activity android:name="moreakshay.com.mine.ui.features.login.LoginActivity" />
        <activity android:name="moreakshay.com.mine.ui.features.home.activities.HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="moreakshay.com.mine.ui.features.list.ListActivity" />
        <activity android:name="moreakshay.com.mine.ui.features.details.DetailActivity" />
        <activity android:name="moreakshay.com.mine.ui.features.search.SearchActivity"/>

        <!--        Receivers-->
        <receiver android:name="moreakshay.com.mine.base.listeners.NetworkBroadcast">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>